In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
file_url ='https://media.githubusercontent.com/media/musthave-ML10/data_source/main/fraud.csv'
data=pd.read_csv(file_url)

In [2]:
data.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [4]:
data.info(show_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1852394 entries, 0 to 1852393
Data columns (total 22 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   trans_date_trans_time  1852394 non-null  object
 1   cc_num                 1852394 non-null  int64
 2   merchant               1852394 non-null  object
 3   category               1852394 non-null  object
 4   amt                    1852394 non-null  float64
 5   first                  1852394 non-null  object
 6   last                   1852394 non-null  object
 7   gender                 1852394 non-null  object
 8   street                 1852394 non-null  object
 9   city                   1852394 non-null  object
 10  state                  1852394 non-null  object
 11  zip                    1852394 non-null  int64
 12  lat                    1852394 non-null  float64
 13  long                   1852394 non-null  float64
 14  city_pop               1852394 non-null  int64
 15  job                    1852394 non-null  object
 16  dob                    1852394 non-null  object
 17  trans_num              1852394 non-null  object
 18  unix_time              1852394 non-null  int64
 19  merch_lat              1852394 non-null  float64
 20  merch_long             1852394 non-null  float64
 21  is_fraud               1852394 non-null  int64
dtypes: float64(5), int64(5), object(12)
memory usage: 310.9+ MB

In [5]:
round(data.describe(),2)

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1.852394e+06,1852394.00,1852394.00,1852394.00,1852394.00,1852394.00,1.852394e+06,1852394.00,1852394.00,1852394.00
mean,4.173860e+17,70.06,48813.26,38.54,-90.23,88643.67,1.358674e+09,38.54,-90.23,0.01
std,1.309115e+18,159.25,26881.85,5.07,13.75,301487.62,1.819508e+07,5.11,13.76,0.07
min,6.041621e+10,1.00,1257.00,20.03,-165.67,23.00,1.325376e+09,19.03,-166.67,0.00
25%,1.800429e+14,9.64,26237.00,34.67,-96.80,741.00,1.343017e+09,34.74,-96.90,0.00
50%,3.521417e+15,47.45,48174.00,39.35,-87.48,2443.00,1.357089e+09,39.37,-87.44,0.00
75%,4.642255e+15,83.10,72042.00,41.94,-80.16,20328.00,1.374581e+09,41.96,-80.25,0.00
max,4.992346e+18,28948.90,99921.00,66.69,-67.95,2906700.00,1.388534e+09,67.51,-66.95,1.00

In [80]:
data.drop(['first','last','street','city','state','zip','trans_num','unix_time','job','merchant'], axis=1, inplace= True)

In [81]:
data['trans_date_trans_time'] = pd.to_datetime(data['trans_date_trans_time'])

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1852394 entries, 0 to 1852393
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   trans_date_trans_time  datetime64[ns]
 1   cc_num                 int64
 2   category               object
 3   amt                    float64
 4   gender                 object
 5   lat                    float64
 6   long                   float64
 7   city_pop               int64
 8   dob                    object
 9   merch_lat              float64
 10  merch_long             float64
 11  is_fraud               int64
dtypes: datetime64[ns](1), float64(5), int64(3), object(3)
memory usage: 169.6+ MB

In [82]:
amt_info = data[['cc_num', 'amt']].groupby('cc_num').agg(['mean','std'])['amt'].reset_index( )

In [74]:
amt_info.head()

        cc_num        mean          std
0  60416207185   59.257796   142.869746
1  60422928733   65.483159    92.042844
2  60423098130   96.376084  1000.693872
3  60427851591  107.487550   131.014534
4  60487002085   64.096925   153.207660

In [83]:
data = data.merge(amt_info, on = 'cc_num', how ='left')

In [78]:
data.head()

,trans_date_trans_time,cc_num,category,amt,gender,lat,long,city_pop,dob,merch_lat,merch_long,is_fraud,mean_x,std_x,mean_y,std_y
0,2019-01-01 00:00:18,2703186189652095,misc_net,4.97,F,36.0788,-81.1781,3495,1988-03-09,36.011293,-82.048315,0,89.408743,127.530101,89.408743,127.530101
1,2019-01-01 00:00:44,630423337322,grocery_pos,107.23,F,48.8878,-118.2105,149,1978-06-21,49.159047,-118.186462,0,56.078113,159.201852,56.078113,159.201852
2,2019-01-01 00:00:51,38859492057661,entertainment,220.11,M,42.1808,-112.2620,4154,1962-01-19,43.150704,-112.154481,0,69.924272,116.688602,69.924272,116.688602
3,2019-01-01 00:01:16,3534093764340240,gas_transport,45.00,M,46.2306,-112.1138,1939,1967-01-12,47.034331,-112.561071,0,80.090040,280.077880,80.090040,280.077880
4,2019-01-01 00:03:06,375534208663984,misc_pos,41.96,M,38.4207,-79.4629,99,1986-03-28,38.674999,-78.632459,0,95.341146,94.322842,95.341146,94.322842

In [84]:
data['amt_z_score'] = (data['amt']-data['mean'])/data['std']

In [85]:
data.drop(['mean','std'], axis=1, inplace=True)

In [89]:
category_info = data[['cc_num','category','amt']].groupby(['cc_num','category']).agg(['mean','std'])['amt'].reset_index( )

In [90]:
data = data.merge(category_info, on =['cc_num','category'], how='left') 
data['cat_z_score'] = (data['amt'] - data['mean']) / data['std']
data.drop(['mean','std'], axis=1, inplace=True)

In [92]:
pip install geopy

Collecting geopyNote: you may need to restart the kernel to use updated packages.

  Obtaining dependency information for geopy from https://files.pythonhosted.org/packages/e5/15/cf2a69ade4b194aa524ac75112d5caac37414b20a3a03e6865dfe0bd1539/geopy-2.4.1-py3-none-any.whl.metadata
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Obtaining dependency information for geographiclib<3,>=1.52 from https://files.pythonhosted.org/packages/9f/5a/a26132406f1f40cf51ea349a5f11b0a46cec02a2031ff82e391c2537247a/geographiclib-2.0-py3-none-any.whl.metadata
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
   ---------------------------------------- 0.0/125.4 kB ? eta -:--:--
   --------- ------------------------------ 30.7/125.4 kB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 125.4/125.4 kB 2.5 MB/s eta 0:00:00
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
   ---------------------------------------- 0.0/40.3 kB ? eta -:--:--
   ---------------------------------------- 40.3/40.3 kB ? eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1

In [93]:
import geopy.distance
data['merch_coord'] = pd.Series(zip(data['merch_lat'], data['merch_long']))
data['cust_coord'] = pd.Series(zip(data['lat'], data['long']))

In [94]:
data['distance'] = data.apply(lambda x: geopy.distance.distance(x['merch_coord'],
 x['cust_coord']).km, axis=1)

In [95]:
distance_info = data[['cc_num','distance']].groupby('cc_num').agg(['mean','std'])['distance'].reset_index( )
data = data.merge(distance_info, on ='cc_num', how='left')
data['distance_z_score'] = (data['distance'] - data['mean']) / data['std']
data.drop(['mean','std'], axis=1, inplace=True) 
data.head( )

,trans_date_trans_time,cc_num,category,amt,gender,lat,long,city_pop,dob,merch_lat,merch_long,is_fraud,amt_z_score,cat_z_score,merch_coord,cust_coord,distance,distance_z_score
0,2019-01-01 00:00:18,2703186189652095,misc_net,4.97,F,36.0788,-81.1781,3495,1988-03-09,36.011293,-82.048315,0,-0.662108,-0.688297,"(36.011293, -82.048315)","(36.0788, -81.1781)",78.773821,0.030974
1,2019-01-01 00:00:44,630423337322,grocery_pos,107.23,F,48.8878,-118.2105,149,1978-06-21,49.159047,-118.186462,0,0.321302,0.317631,"(49.159047, -118.186462)","(48.8878, -118.2105)",30.216618,-1.475224
2,2019-01-01 00:00:51,38859492057661,entertainment,220.11,M,42.1808,-112.2620,4154,1962-01-19,43.150704,-112.154481,0,1.287064,2.872509,"(43.150704, -112.154481)","(42.1808, -112.262)",108.102912,1.160572
3,2019-01-01 00:01:16,3534093764340240,gas_transport,45.00,M,46.2306,-112.1138,1939,1967-01-12,47.034331,-112.561071,0,-0.125287,-1.050197,"(47.034331, -112.561071)","(46.2306, -112.1138)",95.685115,0.818063
4,2019-01-01 00:03:06,375534208663984,misc_pos,41.96,M,38.4207,-79.4629,99,1986-03-28,38.674999,-78.632459,0,-0.565941,1.312866,"(38.674999, -78.632459)","(38.4207, -79.4629)",77.702395,0.064037

In [96]:
data['age'] = 2021 - pd.to_datetime(data['dob']).dt.year

In [97]:
data.drop(['cc_num','lat','long','merch_lat','merch_long','dob','merch_coord','cust_coord'], axis = 1, inplace=True) # ë³€ìˆ˜ ì œê±°
data.head( )

,trans_date_trans_time,category,amt,gender,city_pop,is_fraud,amt_z_score,cat_z_score,distance,distance_z_score,age
0,2019-01-01 00:00:18,misc_net,4.97,F,3495,0,-0.662108,-0.688297,78.773821,0.030974,33
1,2019-01-01 00:00:44,grocery_pos,107.23,F,149,0,0.321302,0.317631,30.216618,-1.475224,43
2,2019-01-01 00:00:51,entertainment,220.11,M,4154,0,1.287064,2.872509,108.102912,1.160572,59
3,2019-01-01 00:01:16,gas_transport,45.00,M,1939,0,-0.125287,-1.050197,95.685115,0.818063,54
4,2019-01-01 00:03:06,misc_pos,41.96,M,99,0,-0.565941,1.312866,77.702395,0.064037,35

In [98]:
data = pd.get_dummies(data, columns = ['category','gender'], drop_first = True)
data.set_index('trans_date_trans_time', inplace=True)
data.head( )

,amt,city_pop,is_fraud,amt_z_score,cat_z_score,distance,distance_z_score,age,category_food_dining,category_gas_transport,...,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel,gender_M
trans_date_trans_time,,,,,,,,,,,,,,,,,,,,,
2019-01-01 00:00:18,4.97,3495,0,-0.662108,-0.688297,78.773821,0.030974,33,False,False,...,False,False,False,True,False,False,False,False,False,False
2019-01-01 00:00:44,107.23,149,0,0.321302,0.317631,30.216618,-1.475224,43,False,False,...,False,False,False,False,False,False,False,False,False,False
2019-01-01 00:00:51,220.11,4154,0,1.287064,2.872509,108.102912,1.160572,59,False,False,...,False,False,False,False,False,False,False,False,False,True
2019-01-01 00:01:16,45.00,1939,0,-0.125287,-1.050197,95.685115,0.818063,54,False,True,...,False,False,False,False,False,False,False,False,False,True
2019-01-01 00:03:06,41.96,99,0,-0.565941,1.312866,77.702395,0.064037,35,False,False,...,False,False,False,False,True,False,False,False,False,True

In [99]:
train = data[data.index < '2020-07-01'] 
test = data[data.index >= '2020-07-01']

In [100]:
X_train = train.drop('is_fraud', axis = 1)
X_test = test.drop('is_fraud', axis = 1) 
y_train = train['is_fraud'] 
y_test = test['is_fraud']

In [105]:
import lightgbm as lgb 
model_1=lgb.LGBMClassifier()
model_1.fit(X_train, y_train)
pred_1=model_1.predict(X_test)

[LightGBM] [Info] Number of positive: 7639, number of negative: 1319094
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.016390 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1634
[LightGBM] [Info] Number of data points in the train set: 1326733, number of used features: 21
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.005758 -> initscore=-5.151434
[LightGBM] [Info] Start training from score -5.151434

In [106]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_auc_score
accuracy_score(y_test, pred_1)

0.9970266007940479

In [107]:
print(confusion_matrix(y_test, pred_1))

[[522937    712]
 [   851   1161]]

In [108]:
print(classification_report(y_test, pred_1))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    523649
           1       0.62      0.58      0.60      2012

    accuracy                           1.00    525661
   macro avg       0.81      0.79      0.80    525661
weighted avg       1.00      1.00      1.00    525661

In [112]:
proba_1 = model_1.predict_proba(X_test)
roc_auc_score(y_test, proba_1[:,1])

0.9166589295676018

In [113]:
from sklearn.model_selection import RandomizedSearchCV
params = {
 'n_estimators': [100, 500, 1000], 
 'learning_rate': [0.01, 0.05, 0.1],
 'lambda_l1': [0, 10, 20, 30], 
 'lambda_l2': [0, 10, 20, 30],
 'max_depth': [10, 15, 20], 
 'subsample': [0.6, 0.8, 1]} 

model_2 = lgb.LGBMClassifier() 
rs = RandomizedSearchCV(model_2, param_distributions=params, n_iter= 30, scoring='roc_auc', n_jobs=-1) 
rs.fit(X_train, y_train)

KeyboardInterrupt:

In [ ]:
rs_proba = rs.predict_proba(X_test) 
roc_auc_score(y_test, rs_proba[:, 1])

In [ ]:
rs_proba_int = (rs_proba[:, 1] > 0.2).astype('int')
print(confusion_matrix(y_test, rs_proba_int))

In [114]:
train = data[data.index < '2020-01-01'] 
val = data[(data.index >= '2020-01-01') & (data.index < '2020-07-01')] 
test = data[data.index >= '2020-07-01']

In [115]:
X_train = train.drop('is_fraud', axis = 1) 
X_val = val.drop('is_fraud', axis = 1) 
X_test = test.drop('is_fraud', axis = 1)
y_train = train['is_fraud']
y_val = val['is_fraud']
y_test = test['is_fraud']

In [116]:
d_train = lgb.Dataset(X_train, label=y_train) 
d_val = lgb.Dataset(X_val, label=y_val)

In [118]:
rs.best_params_ = {'lambda_l1': 0,
 'lambda_l2': 20,
 'learning_rate': 0.05,
 'max_depth': 15,
 'metrics': 'auc',
 'n_estimators': 1000,
 'subsample': 1} 
params_set = rs.best_params_
params_set['metrics'] = 'auc'

In [122]:
model_3 = lgb.train(params_set, d_train, valid_sets=[d_val])

C:\Users\bluea\anaconda3\Lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `n_estimators` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.030090 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1633
[LightGBM] [Info] Number of data points in the train set: 924850, number of used features: 21
[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
[LightGBM] [Info] Start training from score 0.005644

In [ ]:
pred_3 = model_3.predict(X_test)

In [ ]:
roc_auc_score(y_test, pred_3) #

In [ ]:
feature_imp = pd.DataFrame({'feature_name': X_train.columns, 'importance':
 model_1.feature_importances_}).sort_values('importance', ascending = False) # ì¤‘ìš” ë³€ìˆ˜ ì •ë¦¬
plt.figure(figsize=(20, 10)) 
sns.barplot(x="importance", y="feature_name", data=feature_imp.head(10))
plt.show( )